# Logs
# --------------------------------------------------------------------------------------------------
.log
*/**/*.log

# NodeJS
# --------------------------------------------------------------------------------------------------
node_modules

# Environment
# --------------------------------------------------------------------------------------------------
.env

# Deployment
# --------------------------------------------------------------------------------------------------
.waypoint
.next
compiled-lang
dist

# Dockerfile
Dockerfile

# Git
.git
