# Logs
# --------------------------------------------------------------------------------------------------
.log
*/**/*.log

# NodeJS
# --------------------------------------------------------------------------------------------------
node_modules

# Environment
# --------------------------------------------------------------------------------------------------
.env

# Deployment
# --------------------------------------------------------------------------------------------------
.waypoint
