# ENVIRONMENT
# --------------------------------------------------------------------------------------------------
NODE_ENV # Defines the Node environment. It must be one of the following: "development", "production" or "test"
APP_ENV # Defines the environment for our application only. It must be one of the following: "develop" or "production"

# SERVER
# --------------------------------------------------------------------------------------------------
HOST # Defines the current host for the application. It must be one of the following: "local.getbud.co", "develop.getbud.co" or "getbud.co"
PORT # Defines the port the application must run
HTTPS_KEY # Defines the path of the desired https key
HTTPS_CERT # Defines the path to the desired https certificate

# INTL
# --------------------------------------------------------------------------------------------------
LOCALE_OVERRIDE # Defines a given locale to use instead of given configs
DEFAULT_LOCALE # Defines the default locale
SUPPORTED_LOCALES # A comma separated list of supported locales. Example: pt-br,en-US,pt-PT

# DEBUG AND DEVELOPMENT
# --------------------------------------------------------------------------------------------------
LOG_LEVEL # Defines the log level for the current execution. It must be one of the following: "debug", "info", "warn" or "error"

# API
# --------------------------------------------------------------------------------------------------
API_GRAPHQL # Defines the path for our GraphQL API

# AUTH0
# --------------------------------------------------------------------------------------------------
AUTH0_CLIENT_ID_PUBLIC # The public client ID of our Auth0 application
AUTH0_DOMAIN # The domain we're using at Auth0
AUTH0_SCOPE # The scope of our Auth0 application
AUTH0_AUDIENCE # The audience we're using at Auth0

# Hotjar
# --------------------------------------------------------------------------------------------------
HOTJAR_ID # The ID of the application's Hotjar account
HOTJAR_SV # The version of the script we're using

# MIRAGE
# --------------------------------------------------------------------------------------------------
MIRAGE_ENABLED # Defines if the Mirage server should be enabled
MIRAGE_FAKER_SEED # Defines the seed number that Faker should use to generate fake data
