# SERVER
# --------------------------------------------------------------------------------------------------
HTTPS_KEY # Defines the path of the desired https key
HTTPS_CERT # Defines the path to the desired https certificate

# GITHUB
# --------------------------------------------------------------------------------------------------
GITHUB_TOKEN # Defines a token that our application will use to install our Github private packages
