# NODE
# --------------------------------------------------------------------------------------------------
NODE_ENV='development'

# MAINTENANCE MODE
# --------------------------------------------------------------------------------------------------
# MAINTENANCE_MODE_ENABLED - Enables the maintenance mode in our application
# MAINTENANCE_MODE_EXPECTED_RETURN - You can define a given return time from the maintenance mode

# SERVER
# --------------------------------------------------------------------------------------------------
PORT='3000'
HOST='localhost'
# URL - You can define a custom url to log when the server is up
# HTTPS_KEY - The public key for your HTTPS certificate
# HTTPS_CERT - The private key for your HTTPS certificate

# INTL
# --------------------------------------------------------------------------------------------------
DEFAULT_LOCALE='pt-BR'
SUPPORTED_LOCALES='pt-BR,en-US'
# LOCALE_OVERRIDE - If this key is defined, it overrides the current locale for the provided value

# DEBUG AND DEVELOPMENT
# --------------------------------------------------------------------------------------------------
LOG_LEVEL='debug'
APP_ENV='develop'

# API
# --------------------------------------------------------------------------------------------------
API_GRAPHQL='http://localhost:8080/graphql'
NOTIFICATION_API='http://localhost:5001'
ROUTINES_API='http://localhost:3001'
COMMENTS_API='http://localhost:3003'
REST_API_BASE='https://api.getbud.co'
LLM_API='http://localhost:8080/llms'
TASK_MANAGEMENT_API='http://localhost:3001'


# AUTH0
# --------------------------------------------------------------------------------------------------
AUTH0_SCOPE='openid profile'
AUTH0_CLIENT_ID_PUBLIC='R1dkkCw8rdSt5CX1PmrUS7PutKufN5jd'
AUTH0_DOMAIN='getbud-develop.us.auth0.com'
AUTH0_AUDIENCE='https://api.develop.getbud.co/business'
AUTH0_API_DOMAIN='https://api.develop.getbud.co'

# HOTJAR
# --------------------------------------------------------------------------------------------------
HOTJAR_ID='2216269'
HOTJAR_SV='6'

# SMARTLOOK
# --------------------------------------------------------------------------------------------------
SMARTLOOK_API_KEY='5cab2cdecc225119adeece5e90353c122c462d14'

# AMPLITUDE
# --------------------------------------------------------------------------------------------------
AMPLITUDE_API_KEY='ce5c7ca0f7ad9002798472d2d858a50e'


# SENTRY
# --------------------------------------------------------------------------------------------------
SENTRY_DSN=https://8e4887f317a54c33925f5740e4a30323@o1176163.ingest.sentry.io/6303970


# FLAGSMITH
# --------------------------------------------------------------------------------------------------
FLAGSMITH_CLIENT_KEY='oVnxLwfkLYR5EGv5oRy9PL'

# MICROSOFT
# --------------------------------------------------------------------------------------------------
NEXT_PUBLIC_MICROSOFT_CLARITY=""

# SECRETS
# --------------------------------------------------------------------------------------------------
# GITHUB_TOKEN - Defines a token that our application will use to install our Github private packages
