{
  "extends": [
    "@budproj/eslint-config-base-ts",
    "@budproj/eslint-config-prettier-ts",
    "@budproj/eslint-config-intl",
    "@budproj/eslint-config-react"
  ],
  "rules": {
    "import/no-unresolved": ["error", { "ignore": ["miragejs/db-collection"] }],
    "react/jsx-indent": "off",
    "react/jsx-curly-newline": "off",
    "unicorn/no-nested-ternary": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./", "src"]
      },
      "typescript": {
        "project": "./tsconfig.json"
      }
    }
  }
}
