{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType":  "module"
  },
  "ignorePatterns": ["**/dist/*", "**/node_modules/*"],
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "prettier",
    "@typescript-eslint",
    "editorconfig",
    "formatjs",
    "import"
  ],
  "rules": {
    "prettier/prettier": ["error"],
    "no-console": "off",
    "comma-dangle": ["error", "always-multiline"],
    "import/prefer-default-export": "off",
    "editorconfig/editorconfig": "error",
    "formatjs/enforce-description": ["error", "literal"],
    "formatjs/enforce-default-message": ["error", "literal"],
    "formatjs/no-camel-case": "error",
    "formatjs/enforce-id": [
      "error",
      { "idInterpolationPattern": "[sha512:contenthash:base64:6]" }
    ],
    "import/no-unresolved": "error",
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "alphabetize": { "order": "asc" }
      }
    ]
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": "./src/tsconfig.server.json"
      }
    }
  }
}
