# NextJS
# --------------------------------------------------------------------------------------------------
.next

# Logs
# --------------------------------------------------------------------------------------------------
.log
*/**/*.log

# NodeJS
# --------------------------------------------------------------------------------------------------
node_modules

# Intl
# --------------------------------------------------------------------------------------------------
compiled-lang

# Deployment
# --------------------------------------------------------------------------------------------------
.waypoint
dist
