# NextJS
# --------------------------------------------------------------------------------------------------
.next
*/.next
*/**/.next

# Logs
# --------------------------------------------------------------------------------------------------
.log
*/**/*.log

# NodeJS
# --------------------------------------------------------------------------------------------------
node_modules
